@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trirong&display=swap');

/* Estilos gerais */
body {
    background-color: #9f8dbd76;
    color: #656D4E;
    font-family: 'Be Vietnam', sans-serif;
    margin: 0 10px 0 10px;
}

.container {
    padding: 50px 20px;
}

/* Barra de navegação */
.navbar {
    background-color: #9F8DBD;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-brand {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}

.navbar-links a {
    color: #FFFFFF;
    margin-left: 20px;
    text-decoration: none;
}

.navbar-toggler {
    display: none;
    border: none;
    background: transparent;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 30px;
    height: 2px;
    background: white;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    background: white;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
}

.navbar-toggler-icon::before {
    top: -10px;
}

.navbar-toggler-icon::after {
    bottom: -10px;
}

.navbar-links.active {
    display: block;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }
}

/* Flipcard */
.card-inner {
    width: 100%;
    height: 250px;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
    background-color: #9F8DBD;
    border-radius: 2rem;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front {
    background-image: url(#);
}

.back {
    transform: rotateY(180deg);
}

.card-title,
.card-text {
    font-family: 'Be Vietnam', sans-serif;
    color: #FFFFFF;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 25px;
}

.card-text {
    font-size: 0.8em;
    margin: 0 10px;
    background-color: #9F8DBD;
    border-radius: 5px;
}

/* Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    color: #FFFFFF;
    border: none;
    margin-bottom: 20px;
    flex-basis: calc(28.3333% - 10px);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

/* Estilos específicos para dispositivos móveis */
@media only screen and (max-width: 768px) {
    .card {
        flex-basis: calc(100% - 20px);
    }
}

@media only screen and (max-width: 768px) {
    /* Altere a rotação para ocorrer no toque */
    .card:active .card-inner {
        transform: rotateY(180deg);
    }
}

/* Estilos do jumbotron */
.jumbotron {
    margin-top: 2px;
    background-color: #E19E06;
    color: #FFFFFF;
    padding: 60px 0;
    border-radius: 2px;
}

.jumbotron h1 {
    font-family: 'Trirong', serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.jumbotron p {
    font-size: 18px;
    text-align: center;
}

/* Formulário de contato */
.contact-info,
.contact-form {
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
}

.contact-info h2 {
    font-size: 2em;
    text-align: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
    font-size: 1em;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

.contact-form button {
    background-color: #E19E06;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 10px;
}

.contact-form label,
.contact-form button {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-form button:hover {
    background-color: #656D4E;
}

/* Rodapé */
footer {
    background-color: #656D4E;
    color: #FFFFFF;
    padding: 20px 0;
    border-radius: 2px;
    text-align: center;
}
